body {
    background: linear-gradient(to bottom, #105399 30%, #14579B 50%, #3570AC 70%, #6799CC 100%);
    color: #ffffff;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

header {
    width: 100%;
    text-align: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;

}

.header_site {

    background-clip: text;
    -webkit-background-clip: text;



    text-transform: uppercase;
    text-shadow:
        5px 5px 0 #3e3e3e,
        10px 10px 0 #2d2d2d,
        15px 15px 0 #1b1b1b,
        3px 3px 15px rgba(0, 0, 0, 0.5);

    letter-spacing: 30px;


    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
    position: relative;
}

.header_site span {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 100px;
    color: #7a797a;
    transform-origin: bottom center;
    user-select: none;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    display: inline-block;
    position: relative;
}

.header_site span:hover {
    user-select: none;
    text-shadow:
        5px 5px 0 #ffd700,
        10px 10px 0 #ff8c00,
        15px 15px 0 #ff4500,
        3px 3px 15px rgba(255, 69, 0, 0.5);
}

.header_site .space {
    display: inline-block;
    width: 40px;
}

.team-section {
    border: none;
    outline: none ;
    box-shadow: none;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.content {
    border: none;
    border-style: none;
    margin-top: 10px;
    padding: 20px;
    border-radius: 30px;

    position: relative;
}

.content h2 {
    font-family: "Play", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    color: #00FF00;
    margin-bottom: 20px;
    text-align: center;
}

.content p {
    text-indent: 50px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.6;
    color: #7fff7f;
}




.members-section {
    position: relative;
    padding: 30px 20px;
    background-color: #00332a;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    max-width: 1400px;
    margin: 0 auto 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding-bottom: 60px;
    overflow: hidden;
}

.members-section h2 {
    font-size: 2.5em;
    color: #7FDBFF;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 128, 255, 0.5);
    margin-bottom: 60px;
    transition: transform 0.3s ease, color 0.3s ease;
    user-select: none;
}

.image-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.image-container {
    position: relative;
    width: 45%;
    margin: 0;
    height: auto;
    max-width: 600px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.image-container img {
    user-select: none;
}

.image-container:hover {
    transform: scale(1.05);
}

.image-before {
    display: block;
    width: 100%;
    transition: filter 0.8s ease;
}

.image-after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(-60%) scale(1.2);
    transition: all 1s ease;
}

.image-container:hover .image-before {
    filter: brightness(50%);
}

.image-container:hover .image-after {
    opacity: 1;
    transform: translateX(0) scale(1);
}